##################################################################################
# DIGITAL OCEAN VARIABLES
##################################################################################
do_token         = ""
do_region        = ""
droplet_image    = ""
droplet_size     = ""
droplet_names    = []
droplet_ssh_keys = []

##################################################################################
# YOUR DOMAIN
##################################################################################
domain = ""

##################################################################################
# DATABASE VARIABLES
##################################################################################
pg_cluster_name   = ""
pg_cluster_size   = ""
database_name     = ""
database_username = ""

##################################################################################
# FIREWALL VARIABLES
##################################################################################
firewall_name = ""

##################################################################################
# LOAD BALANCER VARIABLES
##################################################################################
lb_name = ""
